[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
"psycopg2" = "*"
gunicorn = "*"
ipdb = "*"
ipython = "*"

[requires]
python_version = "3.6"
