{% extends 'base.html' %}

{% block content %}
<table class="table">
  <tr>
    <th>Username</th>
    <th>Start Date</th>
    <th>Time</th>
    <th>Size</th>
    <th>Total Mines</th>
    <th>Status</th>
    <th></th>
  </tr>
  {% for game in games %}
  <tr>
    <td>{{ game.user.username }}</td>
    <td>{{ game.start_date }}</td>
    <td></td>
    <td>{{ game.width }}x{{ game.height }}</td>
    <td>{{ game.mines }}</td>
    <td>{{ game.status }}</td>
    <td><a href="/game/{{ game.id }}/">view</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
