{% extends 'base.html' %}

{% block content %}

<table id="board-table" class="table"></table>

<script>
var GAME_ID = {{ game.id }}
var BOARD_WIDTH = {{ game.width }}
var BOARD_HEIGHT = {{ game.height }}

var BASE_API_URL = '/api/game/' + GAME_ID + '/';

function get_csrf_token() {
  var i, cookie, cookies;
  cookies  = document.cookie.split('; ')
  for(i in cookies) {
    cookie = cookies[i].split('=');
    if(cookie[0] == 'csrftoken') {
      return cookie[1];
    }
  }
}

function set_overlay(text, color) {
  var overlay = jQuery('<div id="overlay" style="color: ' + color + '">' + text +'</div>');
  overlay.appendTo(document.body);
  return overlay;
}

function remove_overlay() {
  $('#overlay').remove();
}

function load_game() {
  set_overlay('Loading board...', 'gray');
  $.getJSON(BASE_API_URL)
    .done(function(data) {
      render_board(data);
      remove_overlay();
    });
}

function field_click(ev) {
  var $el = $(ev.target);
  var data = $el.attr('id').split('-');
  set_overlay('Loading board...', 'gray')
  $.post(BASE_API_URL + 'reveal/',
    {x: data[1], y: data[2], csrfmiddlewaretoken: get_csrf_token()}
  ).done(function(data) {
    render_board(data);
    remove_overlay();
  })
}

function render_board(data) {
  var x, y, table, tr, td, matrix, value, className;
  matrix = data.matrix;
  $table = $('#board-table');
  $table.empty();
  $row = $('<tr>');
  $table.append($row);
  for(x=0; x < BOARD_WIDTH; x++) {
    $row.append($('<td>' + x + '</td>'));
  }
  for(y=0; y < BOARD_HEIGHT; y++) {
    $row = $('<tr>');
    $table.append($row);
    for(x=0; x < BOARD_WIDTH; x++) {
      switch (matrix[y][x]) {
        case -1:
          className = "btn-mine";
          value = "*";
          break;
        case null:
          className = "btn-hide";
          value = "";
          break;
        case 0:
          className = "btn-revealed";
          value = "";
          break;
        default:
          className = "btn-revealed";
          value = matrix[y][x];
          break;
      }

      $row.append($('<td class="field-btn ' + className +'" id="cell-' + x +'-' + y + '">' + value +'</td>'));
    }
    $row.append($('<td>' + y + '</td>'));
  }
  $row = $('<tr>');
  $table.append($row);
  for(x=0; x < BOARD_WIDTH; x++) {
    $row.append($('<td>' + x + '</td>'));
  }

  $('td.field-btn').click(field_click);
  if(data.finished === true) {
      var text = 'You Lost';
      var color = "red";
      if(data.won === true) {
        text = 'You Won'
        color = "green";
      }
      var overlay = set_overlay(text, color);
  }
}


(function () {
  load_game();
})();

</script>

{% endblock %}
